<div class="card container"  >
  <h2 class="mt-3" >Créer un espace pour restaurant</h2>
  <div style="overflow:auto; margin-bottom: 30px">
    <div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
      <form [formGroup]="formResto" class="pt-4 " >
        <div class="row mx-2">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom complet</mat-label>
              <label>
                <input matInput placeholder="Entrez le prénom et le nom " formControlName="nomComplet" class="input">
              </label>
              <mat-error *ngIf="submitted && f.nomComplet.errors" class="invalid-feedback">
                <mat-error *ngIf="f.nomComplet.errors.required">Veuillez taper le prénom et le nom</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <label>
                <input matInput placeholder="Entrez le username" formControlName="username" class="input">
              </label>
              <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <mat-error *ngIf="f.username.errors.required">Veuillez taper le nom d'utilisateur</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <label>
                <input matInput placeholder="Entrez le mot de passe" formControlName="password" type="password">
              </label>
              <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <mat-error *ngIf="f.password.errors.required">Veuillez taper le mot de passe</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Confimer le mot de passe </mat-label>
              <input matInput formControlName="confirmPassword"  placeholder="Placeholder" type="password">
              <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <mat-error *ngIf="f.confirmPassword.errors.required">Confirmer le mot de passe </mat-error>
                <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Les deux mots de passe ne correspondent pas</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Téléphone</mat-label>
              <label>
                <input matInput placeholder="Entrez le numéro de téléphone" formControlName="telephone" class="input">
              </label>
              <mat-error *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                <mat-error *ngIf="f.telephone.errors.required">Veuillez taper le numéro de téléphone</mat-error>
                <mat-error *ngIf="f.telephone.errors.pattern">Le numéro de téléphone n'est pas valide </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom du restaurant</mat-label>
              <label>
                <input matInput placeholder="Entrez le nom du resto" formControlName="nomResto" class="input">
              </label>
              <mat-error *ngIf="submitted && f.nomResto.errors" class="invalid-feedback">
                <mat-error *ngIf="f.nomResto.errors.required">Veuillez taper le num du restaurant</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <label>
                <input matInput placeholder="Entrez la description" formControlName="description" class="input">
              </label>
              <mat-error *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <mat-error *ngIf="f.description.errors.required">Veuillez taper la description</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Adresse</mat-label>
              <label>
                <input matInput placeholder="Entrez l'adresse du resto" formControlName="adresse" class="input">
              </label>
              <mat-error *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                <mat-error *ngIf="f.adresse.errors.required">Veuillez taper l'adresse du restaurant</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Veuillez choisir un image</mat-label>
              <ngx-mat-file-input formControlName="image" (change)="onFileSelected($event)" placeholder="Basic outline placeholder" ></ngx-mat-file-input>
              <mat-icon matSuffix>photo_camera</mat-icon>
              <mat-error *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <mat-error *ngIf="f.image.errors.required">Veuillez choisir un image </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button mat-flat-button class="btn-ang"  type="submit"  (click)="onSubmitForm()" >Enrégistrer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
 </div>

