<div class="loginPage">
  <div class="container ">
    <div class="col-md-4 mx-auto">
      <div class="contentPage">
        <form [formGroup]="formConnexion" (ngSubmit)="onSubmit()">
          <h2>Formulaire de connexion</h2>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>Entrez le nom d'utilisateur </mat-label>
            <input matInput formControlName="username" placeholder="Placeholder">
            <mat-icon matSuffix><mat-icon>person</mat-icon></mat-icon>
            <mat-error *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <mat-error *ngIf="f.username.errors.required">Veuillez taper le username</mat-error>
            </mat-error>
          </mat-form-field>

          <br>
          <mat-form-field appearance="outline">
            <mat-label>Entrez le mot de passe </mat-label>
            <input matInput formControlName="password" placeholder="Placeholder" type="password">
            <mat-icon matSuffix><mat-icon>no_encryption</mat-icon></mat-icon>
            <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <mat-error *ngIf="f.password.errors.required">Veuillez taper le password</mat-error>
            </mat-error>
          </mat-form-field>
            <div>
              <button class="btn-ang mt-3 btn btn-block">Enrégistrer</button>
            </div>
            <div class="alert alert-danger mt-2 text-center" *ngIf="errorMessage" > {{errorMessage}} </div>
          </form>
      </div>
    </div>
  </div>
</div>
