<div class="card container"  >
  <h2 class="mt-3" >Mettre à jour le mot de passe</h2>
  <div style="overflow:auto; margin-bottom: 30px">
    <div class="mat-elevation-z8" >
      <mat-divider></mat-divider>
      <div class="alert alert-danger mt-2 text-center" *ngIf="errorMessage" > {{errorMessage}} </div>
      <form [formGroup]="formClient" class="example-form mt-4">
        <mat-form-field class="mb-1" appearance="outline">
          <mat-label>Entrez le mot de passe actuel</mat-label>
          <input matInput formControlName="oldPassword" type="password" placeholder="Placeholder">
          <mat-error *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <mat-error *ngIf="f.oldPassword.errors.required">Veuillez taper le mot de passe actuel</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Entrez le nouveau mot de passe </mat-label>
          <input matInput formControlName="newPassword" placeholder="Placeholder" type="password">
          <mat-error *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <mat-error *ngIf="f.newPassword.errors.required">Veuillez taper le nouveau mot de passe</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confimer le mot de passe </mat-label>
          <input matInput formControlName="confirmPassword"  placeholder="Placeholder" type="password">
          <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <mat-error *ngIf="f.confirmPassword.errors.required">Confirmer le nouveau mot de passe </mat-error>
            <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Les deux mots de passe ne correspondent pas</mat-error>
          </mat-error>
        </mat-form-field>
        <div>
          <button class="btn-ang " (click)="onSubmitPassword()" >Modifier</button>
        </div>
    </form>
    </div>
  </div>
</div>
