mat-form-field {
  width: 100%;
}
button.btn-ang {
  margin: 5px;
  width: 100px !important;
}
button.btn-annuler {
  background-color: #333 !important;
  color: #ffa900;
  &:hover{
    background-color: #000 !important;
  }
}